*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



ul li{
    padding: 10px;

}


ul li:nth-child(2n+0){
    color: yellow;
    background: yellowgreen;
    width: 50%;
    
}


ul li{
    padding: 20px;
    margin: 5px;
    border: 2px solid #000;
    width: 50%;
    transform: rotate(-30deg);
}


ul{
    border: 2px solid red;
}

